<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
		 xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <?include Config.wxi?>

  <Product Id="*" UpgradeCode="$(var.ProductUpgradeCode)" Name="$(var.ProductName)" Version="$(var.ProductVersion)" Manufacturer="$(var.ProductManufacturer)" Language="1033" >

    <Package InstallerVersion="200" InstallPrivileges="elevated" InstallScope="perMachine" Platform="x86" Compressed="yes" Description="$(var.ProductName)" Comments="$(var.ProductDescription)" />

    <Media Id="1" Cabinet="$(var.ProductName).cab" EmbedCab="yes" />

    <!--<Property Id="ARPPRODUCTICON" Value="$(var.ProductName).ico" />-->
    <!--<Property Id="ARPHELPLINK" Value="$(var.ProductManufacturerURL)" />-->
    <!--<Property Id="ARPURLINFOABOUT" Value="$(var.ProductManufacturerURL)" />-->
    <Property Id="ARPNOREPAIR" Value="0" />
    <Property Id="ARPNOMODIFY" Value="0" />

    <Property Id="INSTALLLOCATION">
      <RegistrySearch Id="RegistrySearch" Type="raw" Root="HKLM" Key="Software\$(var.ProductManufacturer)\$(var.ProductName)\$(var.ProductVersion)" Name="InstallLocation" />
    </Property>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <!--<MediaTemplate />-->

    <!-- UI Definition -->
    <!-- <WixVariable Id="WixUIDialogBmp" Value="Files\Dialog.bmp" /> -->
    <!-- <WixVariable Id="WixUIBannerBmp" Value="Files\Banner.bmp" /> -->
    <!-- <WixVariable Id="WixUILicenseRtf" Value="$(var.SolutionDir)Documentacion\EULA.rtf" /> -->
    <UI>
      <UIRef Id="WixUI_Mondo" />
    </UI>

    <!--<Feature Id="ProductFeature" Title="RibbonGenerator" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>-->

    <!--<Property Id="VS2012DEVENV" />
    <Property Id="VS2013DEVENV" />
    <Property Id="VS2015DEVENV" />-->

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="ProductManufacturerFolder" Name="!(bind.property.Manufacturer)">
          <Directory Id="ProductDirectory" Name="!(bind.property.ProductName)">
            <Directory Id="GAC" Name="GAC" />
          </Directory>
        </Directory>

        <!-- <Directory Id="ProductManufacturerFolder" Name="Be">
					<Directory Id="INSTALLFOLDER" Name="RibbonGenerator" />
				</Directory> -->
      </Directory>
    </Directory>

    <ComponentGroup Id="ProductComponents">

      <Component Id="RT_RibbonGenerator" Guid="B64582D9-A489-42F4-BA55-BB6039D82916" Directory="GAC">
        <File Id="F_RT_RibbonGenerator" Name="RibbonGenerator.dll" Source="$(var.Source)RibbonGenerator\bin\Release\RibbonGenerator.dll" KeyPath="yes" Assembly=".net" />
      </Component>

      <Component Id="RegisterVS2015x86" Guid="97ef6bdd-52ec-476a-964c-7a381e92c9e7" Directory="ProductDirectory">
        <RegistryKey Id="RegisterVS2015x86_R1_RT_RibbonGenerator" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\CLSID\{B64582D9-A489-42F4-BA55-BB6039D82916}">
          <RegistryValue Type="string" Value="RibbonGenerator"/>
          <RegistryValue Type="string" Name="InprocServer32" Value="C:\\WINDOWS\\system32\\mscoree.dll" />
          <RegistryValue Type="string" Name="Class" Value="RibbonGenerator.CustomTool" />
          <RegistryValue Type="string" Name="Assembly" Value="RibbonGenerator, Version=$(var.ProductVersion).0, Culture=neutral, PublicKeyToken=3cf107c5d7e68b1c" />
          <RegistryValue Type="string" Name="ThreadingModel" Value="Both" />
        </RegistryKey>
        <RegistryKey Id="RegisterVS2015x86_R2_RT_RibbonGenerator" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\Generators\{164B10B9-B200-11D0-8C61-00A0C91E29D5}\RibbonGenerator">
          <RegistryValue Type="string" Value="Ribbon Generator"/>
          <RegistryValue Type="string" Name="CLSID" Value="{B64582D9-A489-42F4-BA55-BB6039D82916}" />
          <RegistryValue Type="integer" Name="GeneratesDesignTimeSource" Value="00000001" />
        </RegistryKey>
        <RegistryKey Id="RegisterVS2015x86_R3_RT_RibbonGenerator" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\Generators\{E6FDF8B0-F3D1-11D4-8576-0002A516ECE8}\RibbonGenerator">
          <RegistryValue Type="string" Value="Ribbon Generator"/>
          <RegistryValue Type="string" Name="CLSID" Value="{B64582D9-A489-42F4-BA55-BB6039D82916}" />
          <RegistryValue Type="integer" Name="GeneratesDesignTimeSource" Value="00000001" />
        </RegistryKey>
        <RegistryKey Id="RegisterVS2015x86_R4_RT_RibbonGenerator" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" Root="HKLM" Key="SOFTWARE\Microsoft\VisualStudio\14.0\Generators\{FAE04EC1-301F-11d3-BF4B-00C04F79EFBC}\RibbonGenerator">
          <RegistryValue Type="string" Value="Ribbon Generator"/>
          <RegistryValue Type="string" Name="CLSID" Value="{B64582D9-A489-42F4-BA55-BB6039D82916}" />
          <RegistryValue Type="integer" Name="GeneratesDesignTimeSource" Value="00000001" />
        </RegistryKey>
      </Component>

      <Component Id="DT_RibbonGenerator" Guid="2391e40b-6023-4e50-9374-d3b42cfda565" Directory="ProductDirectory">
        <File Id="F_DT_RibbonGenerator" Name="RibbonGenerator.dll" Source="$(var.Source)RibbonGenerator\bin\Release\RibbonGenerator.dll" KeyPath="yes" />
        <File Id="F_DT_rgc" Name="rgc.exe" Source="$(var.Source)RibbonGenerator.Console\bin\Release\rgc.exe" />
        <File Id="F_DT_rgc_config" Name="rgc.exe.config" Source="$(var.Source)RibbonGenerator.Console\bin\Release\rgc.exe.config" />
        <RegistryKey Id="R_DT_RibbonGenerator_AssemblyFolders" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="yes" Root="HKLM" Key="SOFTWARE\Microsoft\.NETFramework\AssemblyFolders\[ProductName]" />
      </Component>

    </ComponentGroup>

    <Feature Id="DefaultFeature" Level="1" Title="$(var.ProductName)" Description="$(var.ProductDescription)" >
      <ComponentRef Id="RT_RibbonGenerator" />
      <ComponentRef Id="DT_RibbonGenerator" />
      <ComponentRef Id="RegisterVS2015x86" />
    </Feature>

  </Product>


</Wix>